.heapshot {
    position: relative;
    margin: 50px;
}

.heapshot li {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    list-style-type: none;
}

.heapshot li.current {
    cursor: pointer;
}

.heapshot li img {
    max-width: none;
    border: 8px solid #FFF;
    -webkit-box-shadow: 0px 1px 5px 0px #4A4A4A;
       -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
            box-shadow: 0px 1px 5px 0px #4A4A4A;
}